<div class="flex">
  <%= render 'rooms/sidebar', room: @room %>
  <div class="mt-8 md:mt-0 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= render @user %>
    <div class="h-96 m-4 bg-blue-100 flex justify-center items-center">
      <%= turbo_stream_from @item %>
      <div id="cards" class="grid grid-cols-4 gap-4">
        <%= render @item.cards %>
      </div>
    </div>
    <%= render 'cards/select_panel', item: @item %>
  </div>
</div>
